1- IMPORTAR DATOS (3 FUENTES, 2 METODOS(archivos, APIS, web scraping, Rss))
2- LIMPIAR Y/O AGREGAR
3- GUARDAR EN BASE DE DATOS (SQL, MONGODB) Y TIRAR ALGUNA QUERY

4- EXPORTAR RESULTADOS/CONCLUSIONES

In [1]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import warnings
warnings.filterwarnings('ignore')
import time
from joblib import Parallel, delayed
from functions import *

# IMPORTO FUNCIONES QUE VOY A USAR VARIAS VECES
Lo he intentado importando funciones de un archivo.py pero no me tira jej

In [2]:
def extraer_tabla():
    tabla=driver.find_element(By.TAG_NAME, 'tbody')
    filas=tabla.find_elements(By.TAG_NAME,'tr')
    datos=[]
    for f in filas:
        elementos=f.find_elements(By.TAG_NAME,'td')
        tmp=[]
        for e in elementos: 
            tmp.append(e.text) 
        datos.append(tmp)
    cabeceras=driver.find_element(By.TAG_NAME,'thead')
    cabeceras=[c.text for c in cabeceras.find_elements(By.TAG_NAME,'th')]
    return datos, cabeceras

# CREACION BASE DE DATOS KONAMIGAS

Las ligas nunca han tenido una base de datos en la cual se recopile toda la informacion sobre las jugadoras, asi como las estadisticas historicas de cada una de estas

Cada inicio de temporada inscribiamos equipo por equipo en una plataforma "XPORTY" la cual nos ofrecia el calendario, estadisticas de la temporada, y las clasificaciones.

Para crear la base de datos, partiremos de la liga que se disputó en la temporada anterior, descargando el excel desde el panel de administrador con toda la infrormacion sobre las jugadoras que la disputaron. Este excel te lo facilita la propia web

In [3]:
data = pd.read_excel('jugadoras 22:23.xlsx')

In [4]:
data

,Categoría,Equipo,Nombre,Dorsal,Email,Email padre/tutor,Teléfono,Licencia,Es capitán (1),"DNI,NIF,CUI...",Talla camiseta,Talla calzonas,Nivel de juego,Caducidad seguro,Términos y condiciones,Fecha nacimiento,Comentarios,Info
0,MIERCOLES,YOGURS,Adri Castro,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
1,MARTES,TITIS,Adri Clavell,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
2,BONUS,SINAMIGAS,Adri Gilabert,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
3,NOVA,RABAS GITANAS,Adri López-Fonta,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
4,EXTRA,FEKAS,Adriana Llovet,5.0,NaN,NaN,605404403.0,NaN,Si,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
917,BONUS,LES GATES ROMBERES,Xènia Badia,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
918,MIERCOLES,YOGURS,Xenia Izquierdo,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
919,PLUS,POCHAS,Yanzhu Cárdenas,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
920,JUEVES,KUNI FC,Yubei Castellà,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN
921,BONUS,LES GATES ROMBERES,Zaira Amilburu,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-,NaN,No,NaN,NaN,NaN

Este es el archivo que te proporciona la web, pero la mayoria de estos datos me parecen irrelevantes y no los quiero almacenar

In [5]:
data.shape

(922, 18)

In [6]:
data.columns

Index(['Categoría', 'Equipo', 'Nombre', 'Dorsal', 'Email', 'Email padre/tutor',
       'Teléfono', 'Licencia', 'Es capitán (1)', 'DNI,NIF,CUI...',
       'Talla camiseta', 'Talla calzonas', 'Nivel de juego',
       'Caducidad seguro', 'Términos y condiciones', 'Fecha nacimiento',
       'Comentarios', 'Info'],
      dtype='object')

In [7]:
data = data[['Nombre','Equipo' , 'Categoría', 'Dorsal','Talla camiseta', 'Teléfono', 'Es capitán (1)']]
data

,Nombre,Equipo,Categoría,Dorsal,Talla camiseta,Teléfono,Es capitán (1)
0,Adri Castro,YOGURS,MIERCOLES,7.0,NaN,NaN,NaN
1,Adri Clavell,TITIS,MARTES,3.0,NaN,NaN,NaN
2,Adri Gilabert,SINAMIGAS,BONUS,9.0,NaN,NaN,NaN
3,Adri López-Fonta,RABAS GITANAS,NOVA,4.0,NaN,NaN,NaN
4,Adriana Llovet,FEKAS,EXTRA,5.0,NaN,605404403.0,Si
...,...,...,...,...,...,...,...
917,Xènia Badia,LES GATES ROMBERES,BONUS,1.0,NaN,NaN,NaN
918,Xenia Izquierdo,YOGURS,MIERCOLES,4.0,NaN,NaN,NaN
919,Yanzhu Cárdenas,POCHAS,PLUS,2.0,NaN,NaN,NaN
920,Yubei Castellà,KUNI FC,JUEVES,10.0,NaN,NaN,NaN
921,Zaira Amilburu,LES GATES ROMBERES,BONUS,2.0,NaN,NaN,NaN

In [8]:
data.rename(columns={'Categoría':'Liga', 'Teléfono': 'Telefono', 'Es capitán (1)':'Capitana'}, inplace=True)

In [9]:
data.Dorsal=data.Dorsal.astype('Int64')
data['Telefono']=data['Telefono'].astype('Int64')

In [10]:
def separar_nombre_apellido(df, etiqueta):
    nombre = []
    apellido = []
    for i in df[etiqueta]:
        nombre.append(i.split(' ')[0])
        apellido.append((' '.join(i.split(' ')[1:])).title())
    indice_nombre = df.columns.get_loc(etiqueta)
    df.drop([etiqueta], axis=1, inplace=True)
    df.insert(indice_nombre, 'Nombre', nombre, True)
    df.insert(indice_nombre+1, 'Apellido', apellido, True)
    return df

In [11]:
separar_nombre_apellido(data, 'Nombre')

,Nombre,Apellido,Equipo,Liga,Dorsal,Talla camiseta,Telefono,Capitana
0,Adri,Castro,YOGURS,MIERCOLES,7,NaN,<NA>,NaN
1,Adri,Clavell,TITIS,MARTES,3,NaN,<NA>,NaN
2,Adri,Gilabert,SINAMIGAS,BONUS,9,NaN,<NA>,NaN
3,Adri,López-Fonta,RABAS GITANAS,NOVA,4,NaN,<NA>,NaN
4,Adriana,Llovet,FEKAS,EXTRA,5,NaN,605404403,Si
...,...,...,...,...,...,...,...,...
917,Xènia,Badia,LES GATES ROMBERES,BONUS,1,NaN,<NA>,NaN
918,Xenia,Izquierdo,YOGURS,MIERCOLES,4,NaN,<NA>,NaN
919,Yanzhu,Cárdenas,POCHAS,PLUS,2,NaN,<NA>,NaN
920,Yubei,Castellà,KUNI FC,JUEVES,10,NaN,<NA>,NaN
921,Zaira,Amilburu,LES GATES ROMBERES,BONUS,2,NaN,<NA>,NaN

In [12]:
data['Temporadas'] = [1 for i in range(len(data))]

In [13]:
data.head(2)

,Nombre,Apellido,Equipo,Liga,Dorsal,Talla camiseta,Telefono,Capitana,Temporadas
0,Adri,Castro,YOGURS,MIERCOLES,7,NaN,<NA>,NaN,1
1,Adri,Clavell,TITIS,MARTES,3,NaN,<NA>,NaN,1

# ESCRAPEAMOS ESTADISTICAS DE XPORTY

In [14]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
#opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [15]:
PATH=ChromeDriverManager().install()
driver = webdriver.Chrome(PATH,options = opciones)

In [16]:
url = 'https://www.xporty.com/tournaments/1519550-konamigas-21-22'
driver.get(url)
cookies = driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()
time.sleep(2)
clasificacion = driver.find_element(By.XPATH,'//*[@id="tournament-public-navbar"]/div/div/div[3]')
clasificacion.click()
time.sleep(2)
driver.find_element(By.XPATH, "//*[@title='Goleadores']").click()
liga_selector = driver.find_element(By.XPATH, '//*[@id="event-round-select"]').click()

In [17]:
urls_goleadoras = { 'LUNES': 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519555/rounds/1519556/standings/view?type=scorers',
        'MEGA' : 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519553/rounds/1519554/standings/view?type=scorers',
        'BONUS' : 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519713/rounds/1519725/standings/view?type=scorers',
        'MARTES' : 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519557/rounds/1519558/standings/view?type=scorers', 
        'PLUS': 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519559/rounds/1519560/standings/view?type=scorers', 
        'EXTRA': 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519565/rounds/1519566/standings/view?type=scorers', 
        'MIERCOLES': 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519561/rounds/1519562/standings/view?type=scorers',
        'NOVA': 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519563/rounds/1519564/standings/view?type=scorers',
        'JUEVES': 'https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1701913/rounds/1701927/standings/view?type=scorers'
       }

In [18]:
def extraer_clasificaciones(a):
    # inicia el driver
    driver=webdriver.Chrome(PATH)
    driver.get(a)
    print(a)
    datos, cabeceras = extraer_tabla()
    return pd.DataFrame(datos, columns=cabeceras)

buscar variables globals para crear variables en un bucle

In [19]:
goleadoras_lunes = extraer_clasificaciones(urls_goleadoras['LUNES'])
goleadoras_mega = extraer_clasificaciones(urls_goleadoras['MEGA'])
goleadoras_bonus = extraer_clasificaciones(urls_goleadoras['BONUS'])
goleadoras_martes = extraer_clasificaciones(urls_goleadoras['MARTES'])
goleadoras_plus = extraer_clasificaciones(urls_goleadoras['PLUS'])
goleadoras_extra = extraer_clasificaciones(urls_goleadoras['EXTRA'])
goleadoras_miercoles = extraer_clasificaciones(urls_goleadoras['MIERCOLES'])
goleadoras_nova = extraer_clasificaciones(urls_goleadoras['NOVA'])
goleadoras_jueves = extraer_clasificaciones(urls_goleadoras['JUEVES'])

https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519555/rounds/1519556/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519553/rounds/1519554/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519713/rounds/1519725/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519557/rounds/1519558/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519559/rounds/1519560/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519565/rounds/1519566/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519561/rounds/1519562/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519563/rounds/1519564/standings/view?type=scorers
https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1701913/rounds/1701927/standings/view?type=scorers

# SOLO ESCRAPEA LIGA EXTRA!!!
No he conseguido enterarme de porque no me escrapea las otras urls que le doy.

In [20]:
extraer_clasificaciones(urls_goleadoras['MEGA'])

https://www.xporty.com/tournaments/1519550-konamigas-21-22/events/1519553/rounds/1519554/standings/view?type=scorers

      P          Jugador      Equipo Goles Partidos
0    1º   Adriana Llovet       FEKAS    25        9
1    2º   Julia Martinez      BRAVAS    23       11
2    3º  Mariona Carbajo     LAFALLÉ    20       10
3    4º       Berta Tous    TETILLAS    18        9
4    5º   Julia González     LAFALLÉ    17        9
..  ...              ...         ...   ...      ...
62  29º        Ona Lucea  NO NENA NO     1        2
63  29º    Laura Ovejero   ESCALASOL     1        2
64  29º  Marta Fernàndez   ESCALASOL     1        2
65  29º       Pili Marin   ESCALASOL     1        2
66  29º        Carla Gil   ESCALASOL     1        2

[67 rows x 5 columns]

In [21]:
goleadoras_bonus.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   P         67 non-null     object
 1   Jugador   67 non-null     object
 2   Equipo    67 non-null     object
 3   Goles     67 non-null     object
 4   Partidos  67 non-null     object
dtypes: object(5)
memory usage: 2.7+ KB

In [22]:
def convertir_int_columnas(df, col):
    if 'P' in col:
        new=[]
        for e in df['P']:
            new.append(e.replace('º', ''))
        df['P']=new
    for e in col: 
        df[e]=df[e].astype('Int64')
    return df

In [23]:
lista = [goleadoras_lunes,goleadoras_mega,goleadoras_bonus,goleadoras_martes,goleadoras_plus
       ,goleadoras_extra,goleadoras_miercoles,goleadoras_nova,goleadoras_jueves]
for e in lista:
    convertir_int_columnas(e, ['P','Goles', 'Partidos'])

In [24]:
goleadoras_lunes.head(1)

   P         Jugador Equipo  Goles  Partidos
0  1  Adriana Llovet  FEKAS     25         9

In [25]:
separar_nombre_apellido(goleadoras_lunes, 'Jugador')
separar_nombre_apellido(goleadoras_mega, 'Jugador')
separar_nombre_apellido(goleadoras_bonus, 'Jugador')
separar_nombre_apellido(goleadoras_martes, 'Jugador')
separar_nombre_apellido(goleadoras_plus, 'Jugador')
separar_nombre_apellido(goleadoras_extra, 'Jugador')
separar_nombre_apellido(goleadoras_miercoles, 'Jugador')
separar_nombre_apellido(goleadoras_nova, 'Jugador')
separar_nombre_apellido(goleadoras_jueves, 'Jugador')

     P   Nombre   Apellido      Equipo  Goles  Partidos
0    1  Adriana     Llovet       FEKAS     25         9
1    2    Julia   Martinez      BRAVAS     23        11
2    3  Mariona    Carbajo     LAFALLÉ     20        10
3    4    Berta       Tous    TETILLAS     18         9
4    5    Julia   González     LAFALLÉ     17         9
..  ..      ...        ...         ...    ...       ...
62  29      Ona      Lucea  NO NENA NO      1         2
63  29    Laura    Ovejero   ESCALASOL      1         2
64  29    Marta  Fernàndez   ESCALASOL      1         2
65  29     Pili      Marin   ESCALASOL      1         2
66  29    Carla        Gil   ESCALASOL      1         2

[67 rows x 6 columns]

In [26]:
goleadoras_jueves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   P         67 non-null     Int64
 1   Nombre    67 non-null     object
 2   Apellido  67 non-null     object
 3   Equipo    67 non-null     object
 4   Goles     67 non-null     Int64
 5   Partidos  67 non-null     Int64
dtypes: Int64(3), object(3)
memory usage: 3.5+ KB

# COGEMOS CLASIFICACIONES

In [27]:
def extraer_clasificaciones(string):
    liga_selector = driver.find_element(By.XPATH,'//*[@id="form-standings-yw2"]/div/button/div')
    liga_selector.click()
    chooser=WebDriverWait(liga_selector, 5).until(EC.element_to_be_clickable((By.XPATH, '//*[contains(text(),'+'"'+string+'"'+')]')))
    chooser.click()
    time.sleep(1)
    datos, cabeceras = extraer_tabla()
    return pd.DataFrame(datos, columns=cabeceras)

In [28]:
PATH=ChromeDriverManager().install()
driver = webdriver.Chrome(PATH,options = opciones)
url = 'https://www.xporty.com/tournaments/1519550-konamigas-21-22'
driver.get(url)
cookies = driver.find_element(By.XPATH,'/html/body/div[1]/div/a').click()

clasificacion_lunes = extraer_clasificaciones(' LUNES: LUNES ')
clasificacion_mega = extraer_clasificaciones(' MEGA: MEGA ')
clasificacion_bonus = extraer_clasificaciones(' BONUS: BONUS ')
clasificacion_martes = extraer_clasificaciones(' MARTES: MARTES ')
clasificacion_plus = extraer_clasificaciones(' PLUS: PLUS ')
clasificacion_extra = extraer_clasificaciones(' EXTRA: EXTRA ')
clasificacion_miercoles = extraer_clasificaciones(' MIERCOLES: MIERCOLES ')
clasificacion_nova = extraer_clasificaciones(' NOVA: NOVA ')
clasificacion_jueves = extraer_clasificaciones(' JUEVES: JUEVES ')

In [29]:
clasificacion_jueves

    P            Equipo   P  PJ  PG  PP PE  GF  GC   DG
0  1º           KUNI FC  36  16  12   4  0  79  43   36
1  2º     ROSQILLAS F.C  34  16  11   4  1  61  45   16
2  3º    LOS VERGADORES  33  16  11   5  0  56  44   12
3  4º          REINONAS  30  16   9   4  3  58  39   19
4  5º          TERES FC  20  16   6   8  2  57  55    2
5  6º        KONTEKILAS  19  16   6   9  1  36  46  -10
6  7º  NOTOCAMOSBOLA FC  16  16   5  10  1  50  73  -23
7  8º            GOLFAS  14  16   4  10  2  37  52  -15
8  9º        LES PERLES   9  16   3  13  0  22  59  -37

Ojo porque hay dos columnas que tienen el mismo nombre

In [30]:
clasificacion_jueves.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   P       9 non-null      object
 1   Equipo  9 non-null      object
 2   P       9 non-null      object
 3   PJ      9 non-null      object
 4   PG      9 non-null      object
 5   PP      9 non-null      object
 6   PE      9 non-null      object
 7   GF      9 non-null      object
 8   GC      9 non-null      object
 9   DG      9 non-null      object
dtypes: object(10)
memory usage: 848.0+ bytes

In [31]:
columnas = ['P', 'Equipo', 'PT', 'PJ', 'PG', 'PP', 'PE', 'GF', 'GC', 'DG']
lista = [clasificacion_lunes,clasificacion_mega,clasificacion_bonus,clasificacion_martes
        ,clasificacion_plus,clasificacion_extra,clasificacion_miercoles,clasificacion_nova,
        clasificacion_jueves]
for e in lista:
    e.columns = columnas

In [32]:
clasificacion_lunes.head(1)

    P     Equipo  PT  PJ  PG PP PE   GF  GC  DG
0  1º  BELUGOTES  42  16  14  2  0  120  31  89

In [33]:
columnas = ['P', 'PT', 'PJ', 'PG', 'PP', 'PE', 'GF', 'GC', 'DG']
lista = [clasificacion_lunes,clasificacion_mega,clasificacion_bonus,clasificacion_martes
        ,clasificacion_plus,clasificacion_extra,clasificacion_miercoles,clasificacion_nova,
        clasificacion_jueves]
for e in lista:
    convertir_int_columnas(e, columnas)

In [34]:
driver.quit()

# CONECTAMOS CON SQL

In [35]:
from sqlalchemy import create_engine

In [36]:
with open('data/password.txt', 'r') as file:
    pass_=file.readlines()[0]
str_conn=f'mysql+pymysql://root:{pass_}@localhost:3306'
cursor=create_engine(str_conn)
cursor.execute('drop database if exists KONAMIGAS;')
cursor.execute('create database KONAMIGAS;')

In [37]:
str_conn=f'mysql+pymysql://root:{pass_}@localhost:3306/KONAMIGAS'
cursor=create_engine(str_conn)

In [38]:
data.to_sql(name='data', con=cursor, if_exists='replace', index=False)

goleadoras_lunes.to_sql(name='goleadoras_lunes', con=cursor, if_exists='replace', index=False)
goleadoras_mega.to_sql(name='goleadoras_mega', con=cursor, if_exists='replace', index=False)
goleadoras_bonus.to_sql(name='goleadoras_bonus', con=cursor, if_exists='replace', index=False)
goleadoras_martes.to_sql(name='goleadoras_martes', con=cursor, if_exists='replace', index=False)
goleadoras_plus.to_sql(name='goleadoras_plus', con=cursor, if_exists='replace', index=False)
goleadoras_extra.to_sql(name='goleadoras_extra', con=cursor, if_exists='replace', index=False)
goleadoras_miercoles.to_sql(name='goleadoras_miercoles', con=cursor, if_exists='replace', index=False)
goleadoras_nova.to_sql(name='goleadoras_nova', con=cursor, if_exists='replace', index=False)
goleadoras_jueves.to_sql(name='goleadoras_jueves', con=cursor, if_exists='replace', index=False)

clasificacion_lunes.to_sql(name='clasificacion_lunes', con=cursor, if_exists='replace', index=False)
clasificacion_mega.to_sql(name='clasificacion_mega', con=cursor, if_exists='replace', index=False)
clasificacion_bonus.to_sql(name='clasificacion_bonus', con=cursor, if_exists='replace', index=False)
clasificacion_martes.to_sql(name='clasificacion_martes', con=cursor, if_exists='replace', index=False)
clasificacion_plus.to_sql(name='clasificacion_plus', con=cursor, if_exists='replace', index=False)
clasificacion_extra.to_sql(name='clasificacion_extra', con=cursor, if_exists='replace', index=False)
clasificacion_miercoles.to_sql(name='clasificacion_miercoles', con=cursor, if_exists='replace', index=False)
clasificacion_nova.to_sql(name='clasificacion_nova', con=cursor, if_exists='replace', index=False)
clasificacion_jueves.to_sql(name='clasificacion_jueves', con=cursor, if_exists='replace', index=False)

9

# AÑADIREMOS LAS ESTADISTICAS DE CADA JUGADORA A LA TABLA DE DATA

# EJECUTAMOS UNA QUERY PARA TENER UNA CLASIFICACION GENERAL

In [39]:
query='''
         SELECT * FROM
        (SELECT * FROM clasificacion_lunes
        UNION
        SELECT * FROM clasificacion_mega
        UNION
        SELECT * FROM clasificacion_bonus
        UNION
        SELECT * FROM clasificacion_martes
        UNION
        SELECT * FROM clasificacion_extra
        UNION
        SELECT * FROM clasificacion_plus
        UNION
        SELECT * FROM clasificacion_miercoles
        UNION
        SELECT * FROM clasificacion_nova
        UNION
        SELECT * FROM clasificacion_jueves) as Tabla

        ORDER BY PT DESC, DG DESC
'''
cursor.execute(query)

In [43]:
clasificacion_general = pd.read_sql(query, cursor)
clasificacion_general.head(10)

   P         Equipo  PT  PJ  PG  PP  PE   GF  GC  DG
0  1          TITIS  44  16  14   0   2   84  28  56
1  1  RABAS GITANAS  43  16  14   1   1  109  39  70
2  1      BELUGOTES  42  16  14   2   0  120  31  89
3  1      PELOTUDAS  39  16  12   1   3   82  34  48
4  1          GIGIS  39  16  12   1   3   67  22  45
5  2       LA SECTA  38  16  12   2   2   57  26  31
6  3    DEFENDEFERS  37  16  12   3   1   83  43  40
7  1    TOCAPELOTAS  37  16  12   3   1   63  37  26
8  1  ESTRELLA COJA  37  16  12   3   1   51  30  21
9  1        KUNI FC  36  16  12   4   0   79  43  36